<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.finance.retry.repository.RetryRecordRepository">
    <resultMap id="BaseResultMap" type="com.vip.finance.retry.entity.RetryRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="retry_info_id" property="retryInfoId" jdbcType="INTEGER"/>
        <result column="operate_type" property="operateType" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `biz_id`,
        `retry_info_id`,
        `operate_type`,
        `reason`,
        `create_time`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from retry_record
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByBizKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from retry_record
        where biz_id = #{bizId,jdbcType=VARCHAR}
    </select>

    <select id="selectByParams" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from retry_record
        <where>
            <if test="retryInfoId != null">
                `retry_info_id` = #{retryInfoId,jdbcType=INTEGER}
            </if>
            <if test="bizId != null">
                `biz_id` = #{bizId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.vip.finance.retry.entity.RetryRecord">
        insert into retry_record (
        `id`,
        `biz_id`,
        `retry_info_id`,
        `operate_type`,
        `reason`,
        `create_time`
        )
        values (
        #{id,jdbcType=INTEGER},
        #{bizId,jdbcType=VARCHAR},
        #{retryInfoId,jdbcType=INTEGER},
        #{operateType,jdbcType=VARCHAR},
        #{reason,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

</mapper>
  

  
	